/* Style default buat desktop */
.container {
  width: 80%;
  margin: auto;
}

/* Untuk tablet */
@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
}

/* Untuk hp */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  nav {
    flex-direction: column;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }
}
